telebot~=0.0.3
pytelegrambotapi==3.7.3
--find-links https://download.pytorch.org/whl/torch_stable.html
torch~=1.6.0
--find-links https://download.pytorch.org/whl/torch_stable.html
torchvision==0.7.0
opencv-python==4.4.0.44
ninja==1.10.0.post2
ISR==2.2.0
albumentations==0.4.6
cl==0.0.3
